* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #0e1320;
}

.logo a {
  color: white;
}
header {
  background-color: #1d5450;
}

.heading h1, .heading h2{
  color:black
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: white;
}
.headerContent h1 {
  color: white;
}
ul {
  display: flex;
  justify-content: space-between;
}
.active{
  font-weight: bold;
}
ul li {
  list-style: none;
  margin-left: 30px;
  cursor: pointer;
  color: white;
}
ul li a{
  color:white
}
h1,
h2,
h3 {
  color: #1d5450;
}

p,
span,
label,
.sm,
input[type="text"],
input[type="submit"] textarea {
  color: #0e1320;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.mainContent {
  padding: 50px 0;
}

.container h3 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #1d5450;
}

form input {
  display: block;
}
.fieldsets label {
  display: inline-block;
  margin-bottom: 10px;
}

input[type="text"] {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 5px 8px;
}

input[type="submit"] {
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #1d5450;
  color: white;
  border: none;
  border: 5px;
}

input[type="radio"] {
  display: inline-block;
}

.radioboxes div {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 20px;
}

form {
  margin-bottom: 50px;
}

.result {
  padding: 20px 20px;
  border-radius: 5px;
  background: #fff;
  display: inline-block;
  padding: 20px;
  position: relative;
  width: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.result img {
  margin-bottom: 20px;
}
.title {
  font-size: 20px;
  margin-bottom: 5px;
}
#description {
  font-size: 18px;
  line-height: 1.8;
}
.sm {
  font-size: 14px;

  margin-bottom: 10px;
}

.block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.none {
  display: none;
}

.noResult {
  text-align: center;
}
.noResult h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.wrapper .content .subLine {
  margin-top: 10px;
  margin-bottom: 30px;
}
.wrapper .content .subLine span.sm {
  margin-right: 100px;
}

.wrapper {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
}
textarea {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 50%;
}
.inputSection {
  margin-bottom: 40px;
}

.review {
  margin-bottom: 20px;
  background-color: #e0f8f7;
  padding: 20px;
}

.review p {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .logo a {
    font-size: 24px;
  }

  .container h3 {
    font-size: 24px;
  }

  #searchResults {
    display: block;
  }

  .result {
    margin-bottom: 20px;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper .content .subLine span.sm {
    display: inline-block;
  }
  textarea {
    width: 80%;
  }
}
